@import "../../../assets/Style/base";

.mybooking-wrap {
  width: 90%;
  margin: auto;
  .booklistwrapper {
    margin-top: 35px;
    .bookhead {
      display: grid;
      grid-template-columns: 4fr 1fr auto;
      grid-gap: 13px;
      gap: 13px;
      align-items: center;
      padding: 16px 0;
      border-bottom: 1px solid #658097;
      margin-bottom: 24px;
      @media (max-width: 600px) {
        grid-template-columns: 1fr;
      }
      .SearchControlbar {
        border-radius: 0;
        .form-control-search {
          border-radius: 24px;
          border: 1px solid #1f2b6c;
        }
        .search-icon {
          background-color: #1f2b6c;
        }
        .search-close-icon {
          top: 2px;
          &::after {
            color: #1f2b6c;
          }
        }
      }
      .PTH-Item {
        .wrapper {
          .select_wrap {
            .default_option {
              border: 1px solid #1f2b6c;
              height: 40px;
              display: flex;
              align-items: center;
              border-radius: 4px;
              &::after {
                top: 13px;
              }
              &.active::after {
                top: 18px;
              }
            }
          }
        }
      }
      .booktext {
        display: inline-flex;
        h1 {
          font-weight: 600;
          font-size: 16px;
          line-height: 20px;
          line-height: 20px;
          color: #272532;
          display: inline-flex;
          .arrow-icon {
            transform: rotate(180deg);
            float: left;
            font-weight: 500;
            margin-right: 11px;
          }
        }
      }
    }
    .timetable {
      padding-left: 32px;
      height: 100%;
      overflow: hidden;
      overflow-y: auto;
      margin-bottom: 30px;
      .buttonGroup {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        button {
          background-color: transparent;
          border: none;
          color: #7c7c7c;
          &:hover {
            color: #1f2b6c;
          }
          // &:last-child {
          //   border-left: 1px solid #658097;
          //   padding-left: 12px;
          // }
        }
      }
      @media (max-width: 600px) {
        border-left: none;
        padding-left: 0;
      }
      .gridListTable {
        background-color: #fff;
        .gridBody {
          max-height: 80vh;
          min-height: 80vh;
          overflow: unset;
          overflow-y: unset;
          list-style-type: none;
          counter-reset: css-counter 0;
          .topInfo {
            counter-increment: css-counter 1;
            &::before {
              content: counter(css-counter) ".";
              left: -30px;
              @media (max-width: 600px) {
                left: 3px;
                margin-top: 30px;
              }
            }
            .padx-none {
              padding: 15px 0;
            }
          }
          .gridRow {
            background-color: #f1f6ff;
          }
        }
        .gridHeader {
          background-color: #fff;
          border-radius: 0;
          color: #1f2b6c;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
        }
        .gridBody {
          .gridRow {
            border-radius: 4px;
            background-color: #f1f6ff;
            border: 1px solid #fff;
            margin-bottom: 16px;
            &:hover {
              background-color: #f1f6ff;
            }
            .topInfo {
              .textName {
                color: #1f2b6c;
              }
              .text-font {
                font-weight: 400;
                font-size: 12px;
                line-height: 18px;
                color: #000000;
                &.reject {
                  color: $red;
                }
                &.Accepted {
                  color: $secondary;
                }
              }
              .default {
                color: #1f2b6c;
              }
              &.reject_row {
                li {
                  color: #1f2b6c;
                }
              }
            }
          }
        }
      }
    }
  }
}
.userbooking_wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  @media (max-width: 600px) {
    gap: 20px;
  }
  .userbook {
    &:first-child {
      border-right: 1px solid #d9d9d9;
      padding-right: 37px;
      @media (max-width: 600px) {
        border: none;
        padding-right: 0;
      }
    }
    &:last-child {
      padding-left: 37px;
      @media (max-width: 600px) {
        padding-left: 0;
      }
    }
    .user_button {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
      color: $black;
    }
    p {
      color: rgba($base, 0.4);
    }
  }
}
