@import '../../commonEcommerce';

.switch-container {
  .switch-div {
    position: relative;

    input[type=checkbox] {
      height: 0;
      width: 0;
      display: none;
    }

    label {
      cursor: pointer;
      text-indent: -9999px;
      width: 32px;
      height: 14px;
      background: transparent;
      border: 2px solid rgba($gray, 0.4);
      display: block;
      border-radius: 200px;
      position: relative;
    }

    label:after {
      content: '';
      position: absolute;
      top: 1px;
      left: 5px;
      width: 8px;
      height: 8px;
      background: rgba($gray, 0.4);
      border-radius: 90px;
      transition: 0.3s;
    }

    input:checked+label {
      background: transparent;
      border: 2px solid $primary;
    }

    input:checked+label:after {
      left: calc(100% - 5px);
      transform: translateX(-100%);
      background-color: $primary;
    }

    label:active:after {
      width: 5px;
    }

  }
}