@import "../CommonComponent/commonCss/base.scss";

.ecom-layout {
  .footer {
    font-family: "Mulish", sans-serif;
    background-color: var(--beta);
    padding: 50px 0;
    padding-bottom: 40px;

    @media (max-width: 768px) {
      padding: 30px 30px 100px 30px;
    }

    .icons {
      display: inline-block;
      background-color: $white;
      cursor: pointer;
      width: 24px;
      height: 24px;
    }

    .icons-large {
      width: 100px;
      height: 100px;
    }

    .icons-facebook {
      -webkit-mask-image: url("../assets/icons/facebookIcon.svg");
      mask-image: url("../assets/icons/facebookIcon.svg");
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
    }

    .icons-instagram {
      -webkit-mask-image: url("../assets/icons/instagramIcon.svg");
      mask-image: url("../assets/icons/instagramIcon.svg");
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
    }

    .icons-twitter {
      -webkit-mask-image: url("../assets/icons/twitterIcon.svg");
      mask-image: url("../assets/icons/twitterIcon.svg");
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
    }

    .icons-youtube {
      -webkit-mask-image: url("../assets/icons/youtube.svg");
      mask-image: url("../assets/icons/youtube.svg");
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
      display: block;
      margin-bottom: 2px;
    }

    .icons-linkedin {
      -webkit-mask-image: url("../assets/icons/linkedinnew.svg");
      mask-image: url("../assets/icons/linkedinnew.svg");
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
    }

    .icons-americanIcon {
      -webkit-mask-image: url("../assets/icons/americanExpressIcon.svg");
      mask-image: url("../assets/icons/americanExpressIcon.svg");
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
    }

    .footer-container {
      color: $white;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      // justify-content: space-between;
      // align-items: flex-start;
      // flex-wrap: wrap;
      gap: 109px;

      @media (max-width: 1024px) {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
      }

      @media (max-width: 576px) {
        grid-template-columns: 1fr;
      }

      // .footer-store-wrap {
      //   @media (min-width: 450px) {
      //     width: 33%;
      //   }
      // }

      .footer-wrap {
        // @media(max-width:600px) {
        //   width: 50%;
        // }
        .footer-social-media-wrap {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          flex-wrap: nowrap;
          gap: 16px;
          margin-top: 24px;
        }

        p {
          font-size: 16px;
          font-weight: 600;
          line-height: 1.4em;
        }

        .category-wrapper {
          display: grid;
          grid-template-columns: auto auto;
          align-items: flex-start;
          column-gap: 48px;

          @media (max-width: 1024px) {
            column-gap: 0;
          }

          @media (max-width: 576px) {
            column-gap: 20px;
          }
        }

        ul {
          margin-top: 15px;

          li {
            list-style-type: none;
            font-size: 14px;
            font-weight: 300;
            line-height: 1.8em;

            .buttonList {
              text-align: start;
              font-size: 14px;
              font-weight: 300;
              line-height: 1.8em;
              color: $white;
              transition: all 0.5 ease-in;
              white-space: nowrap;
              background-color: transparent;
              border: none;
              cursor: pointer;
            }

            a {
              font-size: 14px;
              font-weight: 300;
              padding-bottom: 8px;
              line-height: 1.8em;
              color: $white;
              transition: all 0.5 ease-in;
              white-space: nowrap;

              // &:hover {
              //   font-size: 16px;
              //   font-weight: 600;
              // }
            }

            &:not(:first-child) {
              margin-top: 3px;
            }
          }

          &:not:first-child {
            padding-top: 5px;
          }
        }
      }
    }

    .footer-hr {
      width: 100%;
      height: 2px;
      background-color: var(--gama);
      margin-top: 20px;
    }

    .footer-lowerSection {
      margin-top: 10px;

      .footer-lowerSection-first-para {
        font-size: 14px;
        font-weight: 400;
        color: $white;
      }

      .footer-loweSection-imag-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 40px;
        margin-top: 20px;

        .footer-lowerSection-image-div {
          width: 70px;

          img {
            max-width: 100%;
          }
        }
      }
    }

    .footer-power-div {
      margin-top: 20px;

      .footer-copywrite-text {
        font-size: 14px;
        color: $white;
        font-weight: 300;
        line-height: 1.4em;
        margin-top: 4px;
      }
      #google_translate_element {
        visibility: hidden;
        height: 0;
        width: 0;
      }
    }
  }
}
