@import '../../assets/Style/base';

.messageToast-container {
  // width: 100vw;
  // height: 100vh;
  position: fixed;
  z-index: 99;
  top: 17%;
  left: 50%;
  box-shadow: 1px 1px 8px rgba($base, 0.1);
  // display: flex;
  // align-items: flex-start;
  // justify-content: center;
  transition: all 0.3s linear;

  @media(max-width:992px) {
    left: 50%;
    transform: translateX(-50%);
  }


  .toast-wrap {
    background-color: $white;
    width: fit-content;
    max-width: 40vw;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    padding: 12px;
    border-radius: 4px 4px 0 0;
    position: relative;
    padding-right: 70px;

    @media(max-width:768px) {
      max-width: 70vw;
    }

    @media(max-width:600px) {
      max-width: 90vw;
    }


    .toast-icon {
      margin-top: 3px;
    }

    .toast-para-wrap {
      .toast-para-text {
        color: rgba($base, 0.6);
        line-height: 1.4em;
      }
    }

    .cross-span {
      position: absolute;
      top: 8px;
      right: 10px;
      cursor: pointer;
    }
  }

  .success-border {
    border-bottom: 5px solid #1EBB1B;
  }

  .error-border {
    border-bottom: 5px solid #C23934;
  }

  .warning-border {
    border-bottom: 5px solid #F2A544;
  }

  .icon-success {
    -webkit-mask: url("../../assets/Icons/toastSuccessIcon.svg") no-repeat center;
    mask-image: url("../../assets/Icons/toastSuccessIcon.svg") no-repeat center;
    display: block;
    width: 12px;
    height: 12px;
    background: #1EBB1B;
  }

  .icon-error {
    -webkit-mask: url("../../assets/Icons/toastErrorIcon.svg") no-repeat center;
    mask-image: url("../../assets/Icons/toastErrorIcon.svg") no-repeat center;
    display: block;
    width: 12px;
    height: 12px;
    background: #C23934;
  }

  .icon-warning {
    -webkit-mask: url("../../assets/Icons/toastWarningIcon.svg") no-repeat center;
    mask-image: url("../../assets/Icons/toastWarningIcon.svg") no-repeat center;
    display: block;
    width: 12px;
    height: 12px;
    background: #F2A544;
  }

  .icon-cross {
    -webkit-mask: url("../../App/Dashboard/EcommerceDashboard/assets/icons/cross.svg") no-repeat center;
    mask-image: url("../../App/Dashboard/EcommerceDashboard/assets/icons/cross.svg") no-repeat center;
    display: block;
    width: 8px;
    height: 8px;
    background: #20202066;
  }
}

.active {
  .messageToast-container {
    transform: translateX(-50%);
  }

}