@import "../../../assets/Style/base";
/***Dashboard Icon***/
.student-Classroom,
.student-Joinclass,
.student-Assignment,
.student-Onlinetest,
.student-Studymaterial,
.student-Attendance,
.student-Feemanagement {
  width: 62px;
  height: 62px;
  display: block;
  cursor: pointer;
  background-color: $purple;
  -webkit-mask: url("./icon-classroom.svg") no-repeat center;
  mask-image: url("./icon-classroom.svg") no-repeat center;
}
.student-Joinclass {
  -webkit-mask: url("./icon-joinclass.svg") no-repeat center;
  mask-image: url("./icon-joinclass.svg") no-repeat center;
}
.student-Assignment {
  -webkit-mask: url("./icon-assignment.svg") no-repeat center;
  mask-image: url("./icon-assignment.svg") no-repeat center;
}
.student-Onlinetest {
  -webkit-mask: url("./icon-onlinetest.svg") no-repeat center;
  mask-image: url("./icon-onlinetest.svg") no-repeat center;
}
.student-Studymaterial {
  -webkit-mask: url("./icon-courses.svg") no-repeat center;
  mask-image: url("./icon-courses.svg") no-repeat center;
}
.student-Attendance {
  -webkit-mask: url("./icon-attendance.svg") no-repeat center;
  mask-image: url("./icon-attendance.svg") no-repeat center;
}
.student-Feemanagement {
  -webkit-mask: url("./icon-fee-management.svg") no-repeat center;
  mask-image: url("./icon-fee-management.svg") no-repeat center;
}
/***Dashboard Icon end***/
.onlineclasslistbtngroup {
  text-align: center;
}
.DateInputIcon {
  border: 1px solid;
  width: 30px;
  height: 30px;
  border-radius: 3px;
  justify-content: center;
  align-items: center;
  .calenderIconWrap {
    position: relative;
    left: 4px;
    top: 3px;
  }
}
.PageTopHead {
  &.PTH-studentJoinListHeaderWrapper {
    grid-template-columns: 1fr auto auto;
  }
  &.PTH-StudentAssignment {
    grid-template-columns: auto auto 1fr auto;
  }
}

// .btn-text-full-width {
//   width: 100%;
// }
.TeacherRoleOnlineClass {
  margin-top: 10px;
  padding: 20px 30px;
  background-color: rgba($silver, 0.5);
  border: 1px solid rgba($primary, 0.05);
  border-radius: 10px;
  .Filters {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}
.onlineClasscalenderIconFilter {
  opacity: 0;
  width: 30px;
  height: 30px;
  position: absolute;
  top: -35px;
  cursor: pointer;
}
// .BtnCaret {
//   color: $purple;
//   padding: 10px 0;
//   position: relative;
//   @extend .w-500;
//   &::after {
//     height: 5px;
//     width: 5px;
//     border-left: 2px solid $purple;
//     border-top: 2px solid $purple;
//     transform: rotate(-135deg);
//     color: $primary;
//     left: auto;
//     top: 14px;
//     right: -15px;
//   }
//   &.active {
//     &::after {
//       transform: rotate(45deg);
//       top: 18px;
//     }
//   }
// }
.toggleFilterBtn {
  outline: 0;
  outline: none;
  background-color: rgba($mgray, 0.7);
  border: none;
  border-radius: 3px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  .ed-filter {
    color: $white;
  }
}
.refreshBtn {
  background-color: $white;
  border: 1px solid $lgray;
  border-radius: 3px;
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.PageTopHead {
  &.PTH-ViewClassroomOnlineClassStudenSide {
    display: grid;
    grid-template-columns: auto auto auto auto 1fr auto auto;
  }
}
.PageTopHead {
  &.PTH-StudentJoinClass1 {
    grid-template-columns: 1fr;
  }
  &.PTH-StudentJoinClass2 {
    grid-template-columns: auto auto 1fr;
  }
}
.file-upload-input {
  .labelcst {
    padding-bottom: 0;
  }
}
.attached-assignment {
  .attachment {
    width: 50%;
    span {
      &:last-child {
        padding-left: 10px;
      }
    }
  }
}
.studentVerifyInfGrid {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 500px 500px;
  .studentVerifyInformation {
    min-height: 75px;
  }
}
.onlineclassteacherdateTabsnew {
  gap: 5px;
  display: grid;
  grid-template-columns: auto auto auto auto auto 1fr;
  .button {
    &:hover {
      .calenderIconWrap {
        border-color: $white;
        &::before {
          background-color: $white;
        }
      }
    }
    &.active {
      .calenderIconWrap {
        border-color: $white;
        &::before {
          background-color: $base;
        }
      }
    }
  }
}
@media screen and (max-width: 1200px) {
  .PageTopHead {
    &.PTH-StudentAssignment {
      grid-template-columns: 1fr 1fr auto;
      .PTH-Item {
        &:first-child {
          grid-column: 1/4;
        }
      }
    }
  }
}
@media screen and (max-width: 992px) {
  .PageTopHead {
    &.PTH-StudentAssignment {
      grid-template-columns: 1fr 1fr;
      .PTH-Item {
        &:first-child {
          grid-column: 1/3;
        }
        &:last-child {
          grid-column: 1/3;
        }
      }
    }
    &.PTH-ViewClassroomOnlineClassStudenSide {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}
@media screen and (max-width: 768px) {
  .TeacherRoleOnlineClass {
    .Filters {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}
@media screen and (max-width: 600px) {
  .PageTopHead {
    &.PTH-studentJoinListHeaderWrapper {
      grid-template-columns: 1fr auto;
      .P-Right:last-child {
        grid-column: 1/3;
      }
    }
    &.PTH-ViewClassroomOnlineClassStudenSide {
      grid-template-columns: 1fr;
    }
    &.PTH-StudentAssignment {
      grid-template-columns: 1fr;
      .PTH-Item {
        &:first-child {
          grid-column: 1;
        }
        &:last-child {
          grid-column: 1;
        }
      }
    }
  }
  .TeacherRoleOnlineClass {
    .Filters {
      display: grid;
      grid-template-columns: 1fr;
    }
  }
  .onlineclassteacherdateTabsnew {
    gap: 10px;
    grid-template-columns: 1fr 1fr;
  }
  .pageHeaderTop {
    width: 100%;
    border-bottom: 1px solid rgba($mgray, 0.5);
    padding-bottom: 10px;
    display: flex;

    .text-right {
      text-align: left;
    }
  }
}
@media screen and (max-width: 480px) {
  .PageTopHead {
    &.PTH-StudentJoinClass1 {
      grid-template-columns: 1fr;
    }
    &.PTH-StudentJoinClass2 {
      grid-template-columns: 1fr;
    }
  }
  .attached-assignment {
    .attachment {
      width: 100%;
    }
  }
  .PageTopHead {
    &.PTH-studentJoinListHeaderWrapper {
      grid-template-columns: 1fr auto;
      .P-Right:last-child {
        grid-column: 1/3;
      }
    }
    &.PTH-ViewClassroomOnlineClassStudenSide {
      grid-template-columns: 1fr;
    }
  }
  .TeacherRoleOnlineClass {
    .Filters {
      display: grid;
      grid-template-columns: 1fr;
    }
  }
}
