@import "../../../assets/Style/base";

.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 24px;
}

.switch-stroked {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 24px;

  input:checked+.switch-btn-slider {
    border: 2px solid #2196F3;
    background-color: #FFF;
  }

  input:checked+.switch-btn-slider:before {
    background-color: #2196F3;
  }

  .switch-btn-slider:before {
    background-color: #ccc;
    left: 2px;
    bottom: 2px;
  }


  .switch-btn-slider {
    border: 2px solid #ccc;
    background-color: #FFF;
  }
}

.switch-labeled {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 24px;

  .switch-btn-slider:after {
    position: absolute;
    content: "OFF";
    left: 22px;
    bottom: 3px;
    font-size: 10px;
    font-weight: 500;
    color: #FFF;

  }



  // .switch-btn-slider:before {
  //   height: 12px;
  //   width: 12px;
  //   bottom: 6px;
  // }

  input:checked+.switch-btn-slider:after {
    content: "ON";
    left: 6px;
  }

  input:checked+.switch-btn-slider:before {
    -webkit-transform: translateX(24px);
    -ms-transform: translateX(24px);
    transform: translateX(24px);
  }
}

.switch-stroked-label {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 24px;

  .switch-btn-slider:after {
    position: absolute;
    content: "OFF";
    left: 22px;
    bottom: 4px;
    font-size: 10px;
    font-weight: 500;
    color: #FFF;

  }


  input:checked+.switch-btn-slider:after {
    content: "ON";
    left: 6px;
    color: #FFF;
  }
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch-btn-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch-btn-slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}




input:checked+.switch-btn-slider {
  background-color: #2196F3;
}

input:focus+.switch-btn-slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.switch-btn-slider:before {
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(24px);
}

/* Rounded switch-btn-sliders */
.switch-btn-slider.round {
  border-radius: 34px;
}

.switch-btn-slider.round:before {
  border-radius: 50%;
}