@import '../../../../assets/Style/base';

.shappingRate-section {
  .formFieldwrap {
    padding-bottom: 10px;
  }
  .state-section {
    .state-lable {
      line-height: 32px;
    }
  .state-input-wraper {
    height: 40px;
    border: 1px solid $primary;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;

    .select-input-edit {
      .edit-btn {
        background-color: rgba($primary, 0.2);
        border-radius: 30px;
        color: $primary;
        font-weight: 500;
        padding:  3px 12px ;
      }
    }
  }
}
  
.icon-pencial {
  -webkit-mask: url("../../../Dashboard/EcommerceDashboard/assets/icons/pencial.svg") no-repeat center;
  mask-image: url("../../../Dashboard/EcommerceDashboard/assets/icons/pencial.svg") no-repeat center;
  width: 12px;
  height: 12px;
}
}