@import '../../commonCss/base.scss';

.ecom-layout {
  .modal-wrapper {
    height: calc(100vh - 100px);
    overflow-y: auto;
    margin-top: 24px;

    .changeAddres-modalBody {
      padding-top: 0;
    }

    .form-wrapper {
      width: 90%;
      margin: 0 auto;

    }

    .address-header-wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .address-heading {
        font-size: 20px;
        font-weight: 700;
        line-height: 1.2em;
        color: $primary;
      }
    }

    .address-list-wrapper {
      margin-top: 15px;

      .address-div {
        cursor: pointer;
        margin-top: 20px;
        border-radius: 8px;

        .edit-btn-wrap {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          column-gap: 20px;
          margin-left: 30px;
          margin-top: 10px;


          .edit-btn {
            border: none;
            outline: none;
            background-color: transparent;
            color: $secondary;
            font-size: 14px;
            font-weight: 400;
          }


        }
      }

      .selected-div {
        padding: 10px;
        border: 2px solid $secondary;
      }
    }

  }
}