.LightBoxWrapper {
    width: 100vw;
    height: 100vh;
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    box-sizing: border-box;


    &.Lightbox_Fade {
        animation: fade-in 1s 1 linear;
        animation-fill-mode: forwards;
        opacity: 0;
    }

    @keyframes fade-in {
        0% {
            animation-timing-function: cubic-bezier(0.2242, 0.7499, 0.3142, 0.8148);
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }
}



.LightboxContent {
    z-index: 2;
    border-radius: 8px 0 0 8px;
    max-height: 100%;
    color: #c3c0c0;
    z-index: 1080;
    width: -moz-fit-content;
    width: auto;
    overflow: hidden;
    margin-right: 0;
    margin-left: auto;
    margin: auto;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    

    .LightboxContentInner {
        min-height: auto;
        height: calc(100vh - 80px);
        width: 90vw;
        object-fit: contain;
        overflow: hidden;
        margin: 8px 0;
        img {
            max-width: 100%;
            height: auto;
            z-index: 9999;
            position: relative;
        }
    }
}


.Head_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 30px;
    gap: 18px;
    background: rgba(46, 47, 50, 0.82);
    backdrop-filter: blur(4px);
    z-index: 9999;
    position: relative;
    .Button_group{
        display: flex;
        align-items: center;
        // justify-content: flex-end;
        gap: 18px;
    }
    .back_button{
        background: transparent;
        border: none;
        color: white;
        font-size: 30px;
        line-height: 1;
        transform: rotate(180deg);
    }
}

.overlay_lightbox {
    backdrop-filter: blur(10px);
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.65);
    z-index: 1000;
}