@import '../../assets/Style/base';

.page-not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: space-between;
  height: calc(100vh - 128px);
  gap: 16px;
  // height: 100%;
  width: 100%;

  .heading {
    line-height: 60px;
    text-align: center;
  }

  .desc {
    line-height: 24px;
    width: 394px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    text-align: center;

    @media screen and (max-width: 424px) {
      width: auto;
    }
  }

  .go-home-btn {
    cursor: pointer;
    padding: 12px 80px;
    background: #0C6BFF;
    border-radius: 8px;
    border: none;

    a {
      color: #FFFFFF;
      line-height: 24px;
    }
  }

  .error-img-wrap {
    height: 240px;

    @media screen and (max-width: 500px) {
      height: 160px;
    }

    .error-img {
      display: block;
      max-width: 100%;
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }
}