@import '../../../assets/Style/base';
@import '../../Dashboard/EcommerceDashboard/commonEcommerce';

.create-category-container {
  .text-top-wrapper {}

  .card-contaier {
    margin-top: 24px;

    .create-category-card-container {

      width: 100%;

      .card-container-heading-div {
        padding: 20px 24px;
      }

      .create-category-section {
        display: grid;
        grid-template-columns: 3fr 0px 1fr;
        gap: 36px;
        padding-left: 16px;
        padding-right: 38px;
        padding-bottom: 16px;

        @media (max-width:900px) {
          grid-template-columns: 1fr;
          gap: 10px;
        }

        .create-category-leftSidebar {
          padding-top: 16px;
        }

        .create-category-rightSidebar {
          padding-top: 16px;
          padding-right: 16px;
        }
      }

      .categoryFillDetails-btnSection {

        .add-categoryBtn {
          background-color: rgba($gray, 0.5);
        }
      }
    }
  }


}