@import '../../../../../assets/Style/base';

.currency-container {
  .tex-18 {
    font-size: 18px;
  }

  .website-name {
    position: relative;
    padding-bottom: 3px;

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      width: 48px;
      height: 1px;
      background-color: rgba($base, 0.2);
      margin-top: 5px;
    }
  }


  .currency-wrapper {
    .currency-topdiv {

      .heading-div {
        .heading-wrapper {
          .heading-btn-div {
            display: grid;
            grid-template-columns: 3fr 1fr;
            align-items: center;
            gap: 16px;

            @media (max-width:840px) {
              grid-template-columns: 3fr;
            }

            .btn-div {
              display: flex;
              gap: 16px;
              justify-content: start;
              justify-self: end;

              .trashp {
                background-color: transparent;
              }
            }

            .heading-item {
              gap: 16px;

              .website-Setting-heading {
                @media (max-width:425px) {
                  font-size: 24px;
                }
              }
            }
          }

          .currency-subheading {
            margin-left: 50px;
          }
        }
      }

    }
  }
}