@import "../../../../assets/Style/base";

.profileImgWrap {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border: 1px solid rgba($mgray, 0.25);
  padding: 2px;
  background: $white;
  box-shadow: 0 0 10px rgba($base, 0.125);
  img {
    max-width: 98%;
    object-fit: cover;
    background-color: $mgray;
    border-radius: 50%;
  }
}
.profilePrew-mf-wrap {
  img {
    width: 250px;
    height: auto;
    object-fit: cover;
    background-color: $mgray;
    border: 1px solid rgba($lgray, 0.2);
    border-radius: 5px;
  }
}
