@import '../../assets/Style/base';

.uploadImage-modalBody {
  padding: 0 !important;
}

.uploadimagepop-container {
  .tabContainer {
    width: 100%;
    padding-bottom: 24px;



    .tab-content-div {}

  }
}