@import '../../../../assets/Style/base';

.pagination-wrapper {
  margin-top: 22px;
  justify-content: flex-end;

  .show-product-div {
    gap: 16px;

    .show-product-div-count {
      border-radius: 4px;
      border: 1px solid $white ;
      background-color: $white;
      color: $primary;
      padding: 8px 18px;
      font-size: 16px;
      font-weight: 500;
      box-shadow: 0px 1px 4px rgba(26, 26, 67, 0.1);
    }
  }


  .pagination_list {
    justify-content: flex-end !important;
    padding-right: 20px;
  }

}


.productList-wrapper {
  // overflow-y: hidden !important;

  .oderList-top-div-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-gap: 20px;
    gap: 20px;

    @media (max-width:992px) {
      display: block;
    }

    .orderList-top-left {
      display: flex;
      justify-content: flex-start;

      .count {
        color: #B4B9BD;
      }
    }

    .orderList-top-right {
      gap: 15px;
      display: flex;
      justify-content: space-between;

      @media (max-width:768px) {
        flex-wrap: wrap;
        margin-top: 5px;
      }



      .add-new-product-btn {
        @media (max-width:768px) {
          order: 2;
        }
      }

      :nth-child(1) {
        @media (max-width:768px) {
          order: 3;
        }
      }

      :nth-child(2) {
        margin-left: 8px;
        margin-right: 25px;

        @media (max-width:768px) {
          order: 4;
        }
      }

      .productlist-searchbar {
        margin-right: 15px;


        @media (max-width:425px) {
          width: 100%;
        }

      }


    }

  }
}

.inventory-select-text-type {

  &:before {
    left: 80% !important;
    top: 30%;
    border-color: $primary;
  }
}

.product-list-top-wrapper {
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 26px 24px !important;
  gap: 10px;


  .product-select-wrapper-checkbox {
    gap: 22px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
  }

  .product-select-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;

    @media (max-width:992px) {
      order: 1;
      flex-wrap: wrap;
      justify-content: flex-start;
    }

    .SearchControlbar {
      width: 223px;
      height: 36px;

      .form-control-search {
        border: 1px solid rgba(1, 132, 255, 0.2);
      }
    }
  }

  .collection-wapper-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;


    .dropdown {
      &::after {
        top: 10px;
      }

      .btn-drop-round {
        padding: 4px 16px !important;
      }

      .select-control {
        height: 32px !important;

      }

      button {
        span {
          font-size: 14px;
        }
      }
    }

    .filter-select {
      width: 100px;
      height: 30px;
    }
  }

  .product-list-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;
    flex-wrap: wrap;
    gap: 30px
  }

  .product-list-right-after {
    @extend .product-list-right;

    .btn-export {
      padding-right: 30px;
    }

    .sort-by-wraper {
      display: flex;
      align-items: center;
      gap: 12px;
      position: relative;

      .category-button {
        border: 1px solid rgba(1, 132, 255, 0.4) !important;
        padding: 4px 40px 4px 16px !important;
        border-radius: 24px !important;
        color: black !important;
        background-color: $white;
        -webkit-appearance: none;
        text-indent: 1px;
        position: relative;
        height: 32px;
        font-size: 14px;
        font-weight: 400;


        &::after {
          position: absolute;
          width: 6px;
          height: 6px;
          border-right: 2px solid #000;
          border-bottom: 2px solid #000;
          transform: rotate(45deg) !important;
          right: 12px;
          left: auto;
          top: 9px;

        }
      }

      .eDropDownShowMore-container {
        right: 0;
        min-width: 198px;
        box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.12);
        border-radius: 12px;
        border: none;
        z-index: 50;
        top: 100%;
        margin-top: 8px;

        .sort-by-popup-dropdown {

          .sort-by-option-item {
            gap: 12px;
            align-items: center;
            padding: 4px 0;
            cursor: pointer;
            position: relative;

            &::after {
              content: "";
              width: 87%;
              background: rgba($base, 0.1);
              height: 1px;
              margin-left: 24px;
              position: absolute;
              top: 100%;

            }

            .icon-tick {
              -webkit-mask: url("../assets/icons/tick.svg") no-repeat center;
              mask-image: url("../assets/icons/tick.svg") no-repeat center;
              width: 12px;
              height: 12px;
              display: block;
              background-color: $lgray;
              visibility: visible;
              opacity: 1;
            }

            .show-icon-tick {
              -webkit-mask: url("../assets/icons/tick.svg") no-repeat center;
              mask-image: url("../assets/icons/tick.svg") no-repeat center;
              width: 12px;
              height: 12px;
              display: block;
              background-color: $primary ;
              visibility: visible;
              opacity: 1;
            }

            .sort-by-option {
              font-size: 13px;
              font-weight: 400;




            }

            &:last-child ::after {
              content: "";
              width: 0;
              margin-top: 0px;
              height: 0
            }
          }


        }
      }

    }

    .add-to-Collection-wrapper {
      display: flex;
      align-items: center;
      gap: 12px;
      position: relative;

      // button {
      //   padding: 6px 21px;

      //   &:hover {
      //     background: rgba(1, 132, 255, 0.05);
      //     border-radius: 18px;
      //   }
      // }
      .refresh-btn {
        background-color: transparent;
        border: none;
        font-size: 16px;
        font-weight: 400;
        color: $primary;
        cursor: pointer;
      }

      .category-button {
        border: 1px solid rgba(1, 132, 255, 0.4) !important;
        padding: 4px 40px 4px 16px !important;
        border-radius: 24px !important;
        color: black !important;
        background-color: $white;
        -webkit-appearance: none;
        text-indent: 1px;
        position: relative;
        height: 32px;
        font-size: 14px;
        font-weight: 400;


        &::after {
          position: absolute;
          width: 6px;
          height: 6px;
          border-right: 2px solid #000;
          border-bottom: 2px solid #000;
          transform: rotate(45deg) !important;
          right: 12px;
          left: auto;
          top: 9px;

        }
      }


      .eDropDownShowMore-container {
        right: 0;
        min-width: 290px;
        box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.12);
        border-radius: 12px;
        border: none;
        z-index: 50;
        margin-top: 8px;
        top: 100%;

        .showmore-container-div {
          position: relative;


          .add-collection-searchbar {
            margin-bottom: 15px;

            .form-control-search {
              border: 1px solid rgba(1, 132, 255, 0.2);
            }
          }

          .showmore-checkbox-container-wrapper {
            overflow-y: auto;
            max-height: 270px;
            background-color: $white;

            .showmore-checkbox-container {
              padding-left: 8px;



              .showmore-checkbox-wrapper {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .eComm-checkbox-center {
                  align-items: flex-start;
                }

                // .eComm-checkbox-center {
                //   span {
                //     display: flex;
                //     font-size: 14px;
                //   }
                // }
                .eComm-checkbox-center {
                  gap: 2px;

                  span {
                    font-size: 14px;
                    font-weight: 400;
                    margin-bottom: 10px;
                  }
                }
              }



            }
          }

          // display: flex;
          // flex-direction: column;
          // justify-content: center;
          .apply-button {
            float: right;
            width: 100%;

          }

          .dropdown-btn-wrapper {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: $white;
            width: 100%;
          }
        }

        .dropdown-right-padding {
          padding-right: 8px;
        }

        .add-collection-searchbar {
          padding: 0 12px;
        }

        .collection-cheqbox-wrapper {
          padding: 0 14px;

          .Add-Collection-wrapper-item {
            display: flex;
            gap: 12px;

          }
        }

      }


      .dropdown-right-padding {
        padding-right: 8px;
      }

      .add-collection-searchbar {
        padding: 0 12px;
      }

      .collection-cheqbox-wrapper {
        padding: 0 14px;

        .Add-Collection-wrapper-item {
          display: flex;
          gap: 12px;

        }
      }

    }


    .showmore-checkbox-container {
      padding-left: 8px;

      .create-collection-wrapper-item {
        gap: 10px;

        .collection-btn-wrap {
          display: flex;
          gap: 10px;
        }

        .create-collection-input-box {
          height: 30px;
          border: 1px solid rgba(1, 132, 255, 0.3);
          border-radius: 32px;
          gap: 5px;
          width: 100%;
          padding: 5px 8px 5px 8px;
        }

        .delete-div {
          border: 1px solid rgba(1, 132, 255, 0.3);
          background-color: $white;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          text-align: center;
          align-items: center;
        }

        .check-div {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          background: #F2F9FF;
          border: none;
          text-align: center;
          align-items: center;
        }

      }

      .showmore-checkbox-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .eComm-checkbox-center {
          align-items: flex-start;
        }

        // .eComm-checkbox-center {
        //   span {
        //     display: flex;
        //     font-size: 14px;
        //   }
        // }
        .eComm-checkbox-center {
          gap: 2px;

          span {
            font-size: 14px;
            font-weight: 400;
            margin-bottom: 10px;
          }
        }
      }


    }
  }
}



.product-three-dot-img {
  max-width: 100%;
  margin-right: 10px;
  padding: 10px;
  cursor: pointer;
}





.product-tr-list {
  .uppercase {
    text-align: left;
    font-size: 14px;
    // padding-left: 10px !important;
  }

  th:last-child {
    min-width: 40px !important;
  }

  th:nth-child(2) {
    min-width: 80px !important;
  }


}

.product-list-td-wrapper {
  .order-list-th-cheqbox {
    // text-align: center !important;
    // padding-left: 10px;
  }

  .product-shipped-dropdown-wrapper {
    width: 91px;

    .cstmSelectWrap {
      .form-group {
        .animLabel.hide {
          display: none;
        }

        .animLabel.show {
          opacity: 0 !important;
        }

        &::before {
          right: 15px;
          left: auto;
          top: 9px;
          height: 5px;
          width: 5px;
          border-width: 1px 0 0 1px;
        }

        &.caretup {
          &::before {
            transform: rotate(45deg);
          }
        }

        select {
          padding: 2px 2px 0px 15px;
          border-radius: 18px;
          border: 1px solid rgba($primary, 0.4);
          color: #4A9E42;
          height: 26px;

        }
      }
    }
  }

  .order-list-th-wrapper {
    text-align: left;



    // #weightSelect {
    //   border: 1px solid rgba(1, 132, 255, 0.4);
    //   background: $white;
    //   padding: 4px 10px;
    //   border-radius: 18px;

    //   option {
    //     padding: 10px 0;
    //   }
    // }


  }

  .td-three-dot {
    position: relative;

    .three-dot-imge-div {
      width: 36px;
      height: 36px;
      border-radius: 50%;
      position: relative;
      background-color: $white;

      .icons-delete {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      img {
        width: auto;
        object-fit: cover;
        object-position: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      .threedot-wapper {
        right: 39px;
        position: absolute;
        top: 21%;
        width: 110px;

        padding: 8px 12px;
        z-index: 5;
        background: #fff;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        box-shadow: 1px 1px 8px #0000000d;
        border-radius: 6px;



      }

      .product-list-hr {
        width: 100%;
        height: 1px;
        background-color: rgba($base, 0.02);
        margin: 7px 0;
      }
    }
  }

  .green {
    color: #4A9E42;
  }


}

.orderList-wrapper .orderList-div .oderList-table-wrapper table tbody tr {
  &:last-child {
    .td-three-dot {
      .three-dot-imge-div {
        .threedot-wapper {
          top: auto;
          bottom: 0;
        }
      }
    }
  }
}

.hideMinheight {
  height: auto !important;
  min-height: auto !important;
  max-height: fit-content !important;
  overflow: hidden;
}