.complete-popup-wrapper {
  .import-complete-heading {
    text-align: center;
  }

  .succes-image-div {
    text-align: center;
    margin-top: 16px;
  }

  .import-info {
    color: rgba(32, 32, 32, 0.6);
  }
}