$primary: #093351;
$secondary: #57a773;
$success: #14a032;
$white: #fff;
$black: #202020;
$red: #d1332e;


// $alpha: #202020;
// $beta: #c34e67;
// $gama: #F5AEBE;
// $white: #FFFFFF;

:root {
  --alpha: #202020;
  --beta: #c34e67;
  --gama: #F5AEBE;
  --white: #FFFFFF;

  --alpha_1: #202020;
  --beta_1: #093351;
  --gama_1: #0e4b76;
  --white_1: #FFFFFF;
}