@import '../../../Dashboard//EcommerceDashboard/_commonEcommerce.scss';

.category-list-container {
  width: 100%;
  background-color: rgba($primary, 0.05);
  position: relative;
  height: 100%;
  padding: 0 16px;
  // padding-right: 35px;
  padding-bottom: 16px;
  min-height: 70vh;
  max-height: 80vh;
  overflow-y: auto;

  .space-left {
    margin-left: 16px;
  }

  .mt-12 {
    margin-top: 8px;
  }

  .category-list-heading-div {
    padding: 16px 0;
  }

  .categoryList-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 43px;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;

    @media(max-width:600px) {
      grid-template-columns: 1fr;
      gap: 12px;
    }


    .categoryList-shopleftsidebar {
      // width: 99%;
      // position: relative;
      // left: 27px;
      // width: 10%;

      .categoryList-icon-wrapper {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;

        .visibilityNone {
          visibility: hidden;
        }

        .expend-leftsidebar {}

        .expend-rightSidebar {
          width: 100%;

          @media(max-width:600px) {
            width: 57%;
          }

          @media(max-width:475px) {
            width: 100%;
          }

          .shop-box {
            border: 1px solid rgba($base, 0.2);
            padding: 10px;
            border-radius: 4px;
            position: relative;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            cursor: pointer;

            &:hover {
              background-color: $white;

              .shopbox-rightSide {
                opacity: 1;
              }
            }

            .shopbox-rightSide {
              display: flex;
              justify-content: flex-start;
              align-items: center;
              gap: 10px;
              opacity: 0;

            }
          }
        }

      }
    }

    .categoryList-shoprightsidebar {
      .categoryList-switchDiv {


        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 10px;

        @media(max-width:600px) {
          justify-content: flex-start;
          margin-left: 30px;
        }

        .switchDivleftsidebar {}

        .categoryList-switchDiv-rightSidebar {
          .cstm-switch {
            position: relative;
            display: inline-block;
            z-index: 0;

            // margin: 10px;
            input[type="checkbox"] {
              display: none;
            }

            label {
              display: inline-block;
              height: 24px;
              position: relative;
              cursor: pointer;
              z-index: 0;

              i {
                height: 20px;
                width: 20px;
                z-index: 10;
                top: 3px;
                left: 24px;
                position: absolute;
                font-style: normal;

                &:before {

                  position: absolute;
                  @extend .w-700;
                  font-size: 12.44px;
                  text-transform: uppercase;
                  letter-spacing: 0;
                }
              }
            }

            label::before,
            label::after {
              content: "";
              position: absolute;
            }

            label::before {
              width: 50px;
              left: 0;
              top: -3px;
              height: 100%;
              border-radius: 30px;
              transition: background-color 0.25s ease;
              border: 1px solid #80868b;
              background-color: #fff;
            }

            label::after {
              top: 3px;
              left: 8px;
              width: 14px;
              height: 14px;
              border-radius: 50%;
              background-color: #80868b;
              box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
              transition: left 0.25s ease;
            }

            input[type="checkbox"]:checked+label i {
              left: 15px;

              &:before {

                color: $primary;
              }
            }

            input[type="checkbox"]:checked+label::before {
              border: 1px solid $primary;

              i {
                left: 36px;
              }
            }

            input[type="checkbox"]:checked+label::after {
              left: 32px;
              background: $primary;
            }
          }

        }
      }


    }
  }


  // category list css
  .categoryList-parent-container {
    .categoryList-dropdown {
      &:not(:first-child) {
        margin-top: 7px;
      }

      &:first-child {
        margin-top: 12px;
      }

      .categoryList-leftsidebar {
        width: 100%;
        position: relative;


      }

      .categoryList-expeped-div {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
        width: 100%;

        .categoryList-expeped-div-leftSidebar {
          width: auto;
        }

        .categoryList-position {
          position: absolute;
          left: 25px;
        }

        .categoryList-expeped-div-rightSidebar {
          width: 100%;
        }
      }
    }


    .lower-category {
      display: block;
    }

    .displayNone {
      display: none;
    }

    .visibilityNone {
      visibility: hidden;
    }
  }

  .icon-expendPlus {
    -webkit-mask: url("../../../Dashboard//EcommerceDashboard/assets/icons/circlePlus.svg") no-repeat center;
    mask-image: url("../../../Dashboard//EcommerceDashboard/assets/icons/circlePlus.svg") no-repeat center;
    width: 16px;
    height: 16px;
  }

  .icon-expendmin {
    -webkit-mask: url("../../../Dashboard//EcommerceDashboard/assets/icons/circleMin.svg") no-repeat center;
    mask-image: url("../../../Dashboard//EcommerceDashboard/assets/icons/circleMin.svg") no-repeat center;
    width: 16px;
    height: 16px;
  }

  .icon-setting {
    -webkit-mask: url("../CategoryBox/categorySettingIcon.svg") no-repeat center;
    mask-image: url("../CategoryBox/categorySettingIcon.svg") no-repeat center;
  }

  [aria-disabled="true"] {
    opacity: 0.6;
    pointer-events: none;
  }
}