.eDropDownShowMore-container {
  background-color: #fff;
  position: absolute;
  top: 100%;

  border: 1px solid rgba(32, 32, 32, 0.2);
  min-width: 230px;
  max-width: 200px;
  padding: 20px;
  z-index: 1000;
}