@import "../assets/Style/base";
.rgtActionGroupBtn {
  display: inline-flex;
  flex-flow: row wrap;
  position: relative;
  justify-content: flex-end;
}
.institute-share-custom {
  .sharebtn {
    width: 90px;
    height: 32px;
    display: flex;
    justify-content: center;
    @extend .text-xxs;
    @extend .w-400;
    i {
      margin-right: 3px;
    }
  }
}
.sharePopWrap {
  position: absolute;
  right: 0;
  top: 40px;
  width: 300px;
  padding: 30px 20px;
  background: $white;
  box-shadow: 0 0 10px rgba($base, 0.1);
  text-align: center;
  z-index: 9;
}
.shareCopyUrlWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  input[type="text"] {
    opacity: 0;
  }
}
.institute-like-calculate {
  .likebtn,
  button {
    width: 90px;
    height: 32px;
    display: flex;
    justify-content: center;
    @extend .text-xxs;
    @extend .w-400;
    background-color: $red;
    i {
      margin-right: 3px;
    }
  }
  .likeCalc {
    @extend .text-xxs;
    color: $gray;
    padding: 5px 15px;
  }
}
@media only screen and (max-width: 480px) {
  .sharePopWrap {
    width: 100%;
  }
  .rgtActionGroupBtn {
    justify-content: flex-start;
  }
}
