@import '../../../../assets/Style/base';

.settingContol-container {

  .formFieldwrap {
    padding-bottom: 0;
  }

  .changePassword-wrapper {
    position: relative;

    .changePassword-beforeCollp-wrap {
      display: flex;
      align-items: center;
      justify-content: space-between;

      @media(max-width:600px) {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding-bottom: 20px;

        p {
          padding-bottom: 10px;
        }
      }

      .beforeCollp-btn-wrap {
        align-self: flex-start;

        .btn-trasp {
          background-color: transparent;
          border: none;
          outline: none;
          padding: 0;
        }
      }
    }

    .changePassword-afterCollp-wrap {
      padding-top: 20px;

      .afterCollap-wrap {
        display: flex;
        align-items: flex-start;
        gap: 16px;

        @media(max-width:600px) {
          flex-direction: column;
          gap: 10px;
        }

        .afterCollap-form {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          column-gap: 16px;
          width: 100%;

          @media(max-width:475px) {
            flex-direction: column;
            gap: 10px;
          }

          .width-100 {
            width: 100%;
            padding-bottom: 0px;

            .form-group {
              .passwordEye {
                top: 0;
                padding: 7px 10px 10px 10px;
              }
            }

            @media(max-width:600px) {
              padding-bottom: 0px;
            }

            input {
              height: 36px;
            }
          }
        }

        .afterCollap-btn {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          column-gap: 16px;
        }
      }

      .afterCollap-delete {
        display: block;
      }
    }
  }

  .cross-icon {
    position: absolute;
    top: 0;
    right: 0;
  }

  .icon-cross {
    -webkit-mask: url("../../../../App/Dashboard/EcommerceDashboard/assets/icons/cross.svg") no-repeat center;
    mask-image: url("../../../../App/Dashboard/EcommerceDashboard/assets/icons/cross.svg") no-repeat center;
    background-color: #797979;
  }

}